.TTLStockChart_C_Main {
    position: absolute;
    left: -5px;
    right: 0px;
    z-index: 0;
    margin-right: 0px;
    
    outline-style: none;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.TTLStockChart_C_Ctl {
    float: right;
    position: relative;
    z-index: 10;
    /* position: absolute; bottom:0px; right:0px; padding: 0px; margin: 0px; */
    outline-style:none;
}

.TTLStockChart_C_Ctl_Disp {
    float: right;
    position: relative;
    /* position: absolute; bottom:0px; right:30px; padding: 0px; margin: 0px; */
    width: 300px;
    z-index: 1000;
    outline-style:none;
}

.TTLStockChart_C_EditCtl {
    float: right;
    z-index: 10;
    /* position: absolute; bottom:0px; right:0px; padding: 0px; margin: 0px; */
    outline-style:none;
}