body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
  overflow-y:hidden;
  height:100%;
  width: 100%;
  position: fixed;
}

::-webkit-scrollbar-track
{
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #999;
  border-radius: 2px;
}

/*LAYOUT*/
.child-grid-body{
  width: 100%;
  height: 100%;

  background-color: #fff;
  //border-radius: 20px 20px 10px 10px;

  border: 1px solid #c4c4c4;
  /*box-shadow: 0.1px 0.1px 5px;*/
  /*-moz-box-shadow: 2px 2px 5px;
  -webkit-box-shadow: 2px 2px 5px;
  -o-box-shadow: 5px 5px 5px;
  -ms-box-shadow: 5px 5px 5px;*/
}

.child-grid-header{
  //border: 1px solid #AEB5BA;  
  background-color: #005899;
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0 ;
  //border-radius: 10px 10px 0px 0px;
  //text-align: center;
  padding-left: 10px;
  padding-top: 3px;
  
}

.content-block-head {
  font-size: 14px;
  font-weight: 500;
    color: #fff;
}

.child-grid-footer{
  background-color: #efefef;
  width: 100%;
  height: 40px;
  bottom: 0 ;
  position: absolute;
  border-radius: 0px 0px 10px 10px ;
}

.react-resizable-handle {
  right: 5px;
}

.layout-body{
  margin-top: 25px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.btn-action {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin: 1px 2px 0 0;
  color: #fff;

}
.btn-action > li {
  display: inline-table;
  padding: 0px;
  //border-radius: 4px;
  background-color: transparent;
  margin: 0px 2px;

}

.btn-action > li > a  {

  padding: 0px 5px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  }

.btn-action > .btn-close :hover {
  //background-color: red;
  cursor: pointer;
}

/*END LAYOUT*/

/*MAIN MENU NAV BAR*/
.tab-list .close {
  margin-left: 7px;

}
.tab-list {
  margin-bottom: 0px;
  margin-top: 4px;

}
.left {
  float: left;
}

.right {
  float: right;
}
.pad20{
  padding-right: 10px;
  height: 40px;
}
.customtab{
  color: #fff;
  background-color: #337ab7;
}

.row.tabbar {
  margin-right: 0px;
  margin-left: 0px;
  //padding: 5px 0px;
  background-color: #f8f8f8;

}

.navbar.navbar-default{
  margin-bottom: 0px;
  height: 40px;
}

.container-fluid {
  height: 40px;
}

.navbar-default.navbar-collapse {
  height: 40px;
}

.navbar-nav {
  height: 40px;
}

.tab-list>li>a {
  padding-top: 5px;
  padding-bottom: 5px;

}

.tab-list>li>a:hover{
  opacity: 0.8;
}

#header {
  width: 100%;
  height: 70px;
  background-color: #efefef;
}


.main-menu {
  float: left;
  margin: 4px 0px 4px 0px;
  margin-right: 10px;
}

.main-menu > span > button {
  padding: 4px 6px;
  margin: 0 10px;
}

#pagemenu {
  background-color: #005aa0;
}
/*END MAIN MENU NAV BAR*/

/*DATATABLE*/

.datatable {
    text-align: center;
}

.datatable .rt-tbody {
    overflow-x: hidden;
    font-size: 11px;
}

.datatable .rt-tbody .rt-td {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.8;
}

.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-market {
  border: 0px;
}

.header-market .rt-tbody .rt-td, .header-market .rt-thead.-header,.header-market .rt-thead .rt-th {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 18px;
}

/*END DATATABLE*/

/*DATATABLE FOOTER*/
.table-footer{
    padding-left: 5px;
    width: 100%;
    //bottom: 0;
    //position: absolute;
}

.table-footer>.pagination{
    margin-top: 2px;
    margin-bottom: 2px;
}

.table-footer .pagination>li>a, .table-footer .pagination>li>span {
    padding: 2px 6px;
    font-size: 12px;
}

.table-footer > .footer-page {
  padding-right: 10px;
  padding-top: 4px;
  float: right;

}

/*END DATATABLE FOOTER*/

.logo{
    float: left;
    padding-top: 1px;
    width: 241px;
    height: 92px;
}
.header {
    height: 95px;
    margin-right: 0px;
    margin-left: 0px;
}

/*SEARCH BAR*/
.search-bar {
    font-size: 12px;
    font-weight: normal;
    padding: 1px 0px 1px 5px;
}
.search-bar button {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
}

.search-bar .form-group {
    margin: 0px 4px;
}

.search-bar .form-group select , .search-bar > .form-group > input{
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    height: 24px;
}

.search-bar .stockSearch {
    width: 80px;
}

.datepicker > div {
    display: inline-block;
}
.datepicker > div input{
    width: 80px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    height: 24px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.dropdowncheckbox {
    float: right;
    margin-top: 2px;
}

/*END SEARCH BAR*/

/*DROPDOWN CHECKBOX*/
.dropdown-display{
  position: relative;
  width: 28px;
  height: 20px;
  color: #fff;
  border-radius: 2px;
  background-color: #a2a2a2;
  text-align: center;
  cursor: pointer;
  padding-top: 2px;
}

.dropdown-list {
  text-align: left;
  z-index: 99;
  position: absolute;
  background-color: #fbfbfb;
  width: 115px;
  transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-left: 0px;
  margin-left: 5px;
  border:0.5px solid #999;
}

.dropdown-item {
  /*padding: 5px 0px 0px 5px;*/
  margin-left: 5px;
  width: 100%;
}


.dropdown-item:hover {
  //background-color: #555;
  transition: all 0.2s ease-in-out;
  //color: #fff;
}

.dropdown-list.hide{
    visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

}

.dropdown-list.show{
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  margin-left: -85px;
}
/*END DROPDOWN CHECKBOX*/


/*ENTER ORDER*/





.login
{
    padding: 20px;
    width: 400px;
    height: 175px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border:1px solid;
    border-radius: 3px;
}

.buttons
{
    margin-left: 43%;
    margin-top: 5%;
}

.msg
{
    margin: 40px;
}


.inline
{
    float:right;
}

.enterorder
{
    background-color: #5C6BC0;
    color: white;
    width: 50%;
}

.Radiobox
{
    padding-top: 3px;
}
.form-group
{
    margin:0;
    font-size: 12px;
}

.date
{
    position: relative;
}

.button
{
    margin: 0px 35%;
    
}

.submit
{
    background-color: #005899;
    color: white;
}

.cancel
{
    background-color: rgb(255, 102, 0);
    color: white;
}

.error
{
    margin: 15px 15px;
}



.enterorder-action {
  margin-top: 6px;
  text-align: center;
}

.enterorder-action button{
  margin: 0 10px 0 10px;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 0;
  border: 0;
}

.enterorder-form-group > .value-wapper > input,
.enterorder-form-group > .value-wapper > .form-group > input{
  width: 100%;
  height: 22px;
  margin-right: 5px;
}


.value-wapper.col-xs-7, 
.enterorder-form-group .col-xs-11,
.enterorder-form-group .col-xs-1,
.enterorder-form-group .col-xs-5
{
  height: 24px;
  padding: 0;
   padding-left: 5px;
}

.title-wapper {
  background-color: #efefef;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 5px;
  color: #005899;
  font-weight: bold;
}

.value-wapper {
  border-bottom: 1px solid #dcdcdc;
  padding-left: 5px;
}
/*END ENTER ORDER*/


/*ORDER JOURNALL*/
.btn-orderjournal {
    margin: 0px 2px;
    height: 21px;
}

/*PORFOLIO*/
.vertical-table{
   font-size: 12px;
   margin-bottom: 2px;
}
.vertical-table > thead {
    background-color: #043b72;
    color: #fff;
}
.vertical-table > thead > tr >th, .vertical-table > tbody > tr > td{
  padding: 2px 8px;
  text-align: center;
}

.vertical-table .vertical-table-title {
    text-align: left;
    background-color: #e6e6e6;
}
.vertical-table .vertical-table-value {
    text-align: right;
    padding-right: 10px;
}
#porfolio-body .title {
  text-align: center;
}

#porfolio-body .col-md-3 {
  padding: 0px 1px;
}

/*POPUP*/
.title{
  text-align: center;
  font-size: 14px;
}
.modalbody{
  font-size: 12px;
}

/* override from bootstrap*/
.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-footer .btn-default {
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal-body input {
      padding-top: 2px;
    padding-bottom: 2px;
    height: 26px;
}

@media (min-width: 992px){
  .modal-lg {
    width: 700px;
  }
}
@media (min-width: 768){
  .modal-lg {
    width: 500px;
  }
}
/*END OVERRIDE BOOTSTRAP*/

/*PAGE CONTENT*/
#pagecontent {
  overflow-y: scroll;
}

/*END PAGE CONTENT*/

/*HEADER*/
#pageheader .row{
  margin: 0;
}
.header-sm{
  font-size: 12px;
  background-color: #fff;
  padding: 2px 0px;
}
.header-sm .header-action{
  text-align: right;
  padding-right: 18px;
}
.header-sm .header-action button{
  margin: 0 2px;
}

.header-user > ul{
  list-style-type: none;
  margin: 0px;
  height: 100%;
  padding-right: 5px;
  overflow-y: scroll;
}

.header-user > ul > li button{
  margin: 0 2px;
}

.header-left {
  padding-left: 0px;
  height: 100%;

}
.header-lg > .header-left, .header-lg > .header-user,
.header-left .logo, .header-left .logo > img , 
.header-left .ReactTable,
.header-sm > div, .header-sm > div > span,
.header-sm > div > span > div > span {
  height: 100%;
  
}

.header-market .rt-noData {
  display: none;
}

.header-user {
  font-size: 12px;
  text-align: right;
  padding-right: 5px;
  padding-top: 1px;
}


/*END HEADER*/

/*STOCK INFO*/
.stock-stat , .stock-info {
  padding: 0;
}
/*END STOCK INFO*/


/*OVERLAY*/
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(153, 153, 153, 0.5);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*END OVERLAY*/


/*SLIDE NAV*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px 0px;
}
.settingnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px 0px;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .overlay {
    width: 100%;
    height: 100%;
    background-color: #999;
  }
}*/
/*END SLIDE NAV*/


/*SIDE MENU*/
.input-group-search {
  margin-bottom: 10px;
  padding: 10px;
}
.input-group-search .input-group-addon{
    background: white !important; 
}
.input-group-search .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.input-group-search button{
    border:0;
    background:transparent;
}

.nav-list {
  padding: 0px 10px;
}

.main-menu-header {
  padding-left: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  border-top: 1px solid #efefef;
}

.main-menu-sub > li > a{
  padding: 7px 10px;
}
/*END SIDE MENU*/



/*SETIING NAV*/
.settingnav > hr {
  margin: 0px 5px;
}
.setting-user-info > ul{
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 0px;
}

.setting-title {
  font-size: 16px;
  font-weight: 600;
}

.setting-panel {
  padding: 0px 10px;
}

.setting-panel > div {
  margin-bottom: 20px;
}

.setting-btn {
  padding: 0;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 0 5px;
  width: 35px;
  height: 35px;
}

.setting-panel .selected {
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;

}


.setting-theme > div > div {
  margin: 5px 0px;
}

.setting-btn.btn-theme{
  padding: 2px 2px;
}

.btn-theme.selected{
  padding: 5px 1px;
}
/*END SETTING NAV*/


/* LOADING */
.loading > img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.loading {
  text-align: center;
  padding: 20px 20px;
}


/*DATE PICKER*/
.my-data-picker input, .my-data-picker button {
  padding: 2px 6px;
  height: 22px;
}
/*END DATE PICKER*/